body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ebbee1, #d13987);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    padding: 10px 20px;
    border: none;
    background-color: #0072ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #f8e0e4;
}

.message {
    margin: 10px 0;
}

.message p {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.message.self p {
    background-color: #0072ff;
    color: white;
    margin-left: auto;
}
